body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: linear-gradient(45deg,#FFF2A1,#FFF08E);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.5rem;
  color: #042BC6;
  overflow-x: hidden;
  cursor: none;
}

.cursor{
  width: 2rem;
  height: 2rem;
  border: 2.5px solid black;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: None;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: invert(100%); /* invert(100%); blur(3px); */
}
.link-grow{
  transform: scale(2);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(255, 255, 255, 0.3);
}

/* #F988BA #FF8FBB #4EFFBB #FFF08E*/
.logo{
  color: #042BC6;
  letter-spacing: 6px;
  font-size: 26px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: #042BC6;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
}
.project-list ul{
  list-style-type: "✦ "
}
.project-list a{
  color: black;
}
.nav-links a:hover{
  text-shadow: 2px 2px 9px rgba(4, 43, 198,0.75);
}
.project-list a:hover{
  color: #042BC6;
}

.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: #042BC6;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
    cursor: auto;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #FFF4B2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

.container{
  background: #FFF4B2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0rem 2rem 0rem;
  height: 80vh;
}


.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF4B2;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
  opacity: 0;
  visibility: hidden;
}
.loader::after{
  content:"";
  width: 75px;
  height: 75px;
  border: 15px solid rgba(153, 166, 221);
  border-top-color: rgba(43, 85, 251);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading{
  from{
    transform: rotate(0turn);
  } 
  to{
    transform: rotate(1turn);
  }
}

footer{
  text-align: center;
  padding: 100px 20px;
  margin: 0vh -10vh;
  background-color: rgba(0,0,0);
  font-size: 24px;
}
footer p{
    color: #FFF4B2;
}
